@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #06e0ce;
    --dark-grey-color: #161616;
    --white-color: #fff;
    --black-color: #000;
}

body {
    font-family: "Kanit", sans-serif;
    background-color: #161616;
    position: relative;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-icon {
    animation: rotate 2s linear infinite;
}

.test {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    padding: 0 20px;
    width: 100%;
}

.button {
    border: none;
    border-radius: 80px;
    padding: 10px;
    font-weight: 700;
    font-size: 2.4rem;
    width: 100%;
    height: 80px;
    color: #161616;
    outline: 20px solid #161616;
    margin-bottom: 20px;
}

.loop-counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    color: var(--white-color);
    width: 100%;
}

.loop-counter {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 15px;
}

.loop-count {
    font-size: 1.8rem;
    color: var(--primary-color);
 
  
}

.counter-container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    width: 100%;
    height: 400px;
    color: var(--dark-grey-color);
    padding: 20px;
    font-size: 13em;
}

.hund {
    font-size: 5rem;
    text-align: center;
}

.hest {
    font-size: 6rem;
    text-align: center;
}

.reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 80px;
    padding: 15px 20px;
    background-color: red;
    width: 180px;
    font-weight: 700;
    font-size: 1.2rem;

    color: var(--dark-grey-color);
}

.col-primary {
    color: var(--primary-color) !important;
}

.bg-col-primary {
    background-color: var(--primary-color) !important;
}

.col-dark-grey {
    color: var(----dark-grey-color) !important;
}

.bg-col-dark-grey {
    background-color: var(----dark-grey-color) !important;
}

.d-flex {
    display: flex !important;
}

.flex-justify-center {
    display: flex !important;
}

.text-style {
    font-size: 6rem;
}

.he {
    font-size: 14rem;
}

.symbol {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    color: var(--primary-color);
    background-color: var(--dark-grey-color);
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
}
